<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc  
	    http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    	http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/security 
		http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/data/jpa 
		http://www.springframework.org/schema/data/jpa/spring-jpa-4.0.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">	
		
	<context:property-placeholder location="classpath:conf/*.properties" />
	<!-- 扫描控制器类 -->
	<context:component-scan base-package="com.tyyd"> 
	    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
	</context:component-scan>
	
	<!-- ACWS框架：当前登录用户获取相关类、scope必须是request -->
	<bean id="acwsSecurity" class="com.tyyd.common.MySecurity"></bean>
	
	<!-- Activates annotation-based bean configuration-->
    <context:annotation-config /> 

	<bean id="SpringMVCContext" class="com.tyyd.framework.core.util.MVCContextHelper"></bean>
	<!-- Scans for application @Components to deploy -->
    <!-- 扫描控制器类 -->
    <context:component-scan base-package="com.tyyd"  use-default-filters="true"></context:component-scan>
    
	<bean id="ExceptionUtils" class="com.tyyd.framework.core.util.ExceptionUtils" init-method="init"></bean>
	<!-- redis设置 -->
	<bean id="redisDataSourceManager" class="com.tyyd.platform.common.redis.RedisDataSourceManager" init-method="initConfig" destroy-method="shutdown">
		<property name="dsCfgDataId" value="redis_ds_config" />
		<property name="dsCfgGroup" value="crs" />
	</bean>
	<bean id="redisClient" class="com.tyyd.platform.common.redis.JedisCacheClientImpl">
		<property name="jedisPool">
			<bean factory-bean="redisDataSourceManager" factory-method="createJedisPool" destroy-method="close">
				<constructor-arg type="java.lang.String" value="redis_ds" />
			</bean>
		</property>
	</bean>
	
    <!-- 切面事务-->
    <tx:advice id="txadvice" transaction-manager="acwsTransactionManager">
        <tx:attributes>
            <tx:method name="*" isolation="READ_COMMITTED" timeout="120" propagation="REQUIRED" rollback-for="java.lang.Exception" /> 
        </tx:attributes>
    </tx:advice>
    <aop:config expose-proxy="false">
        <aop:pointcut id="pointcut" expression="execution(* com.tyyd.crps.scf..*Service.*(..)) "/>
        <aop:advisor advice-ref="txadvice" pointcut-ref="pointcut"/>
    </aop:config> 
    <aop:aspectj-autoproxy/>
    
    <!-- ACWS框架代码切换扫描：角色权限相关功能支持数据库的切换 -->
    <bean class="com.tyyd.framework.core.scanner.AcwsBeanScanner">
        <property name="basePackages">
            <list>
                <value>com.tyyd.framework.system</value>
            </list>
        </property>
        <property name="includeFilter">
            <list>
                <value>com.tyyd.framework.core.annotation.db.AcwsComponentMysql</value>
            </list>
        </property>
    </bean>

	<!--  引入SCF   -->
	<import resource="classpath:/scf-publisher.xml" />
	<import resource="classpath:/spring-scf.xml" />
</beans>